/* @font-face {
  font-family: "CustomHelvetica";
  src: url("./fonts/Helvetica/helvetica_light.otf") format("opentype");
  /* font-weight: normal;
  font-style: normal;
}

.tertiary_heading.listing_location {
  font-family: "CustomHelvetica";
} */

/* Layout Styling */
/* :root {
  --color-primary: #2d0320;
  --color-secondary: #b38d97;
  --color-accent: #d5aca9;
  --color-bg: #f4e8da;
  --color-surface: #b8aea8;
} */
:root {
  --color-old-gold: 184, 155, 94;
  --color-gold-tint: 200, 155, 140;
  --color-deep-cha: 214, 194, 138;
  --color-gold: 198, 161, 91;
  --color-primary: 45 3 32;
  /* --color-secondary: 179 141 151; */
  --color-secondary: 200 155 140;
  --color-accent: 213 172 169;
  --color-bg: 244 232 218;
  --color-surface: 184 174 168;
  /* Fonts Sizes */
  --font-size-sub-text: 1.3rem;
  --font-size-normal-text: 1.2rem;
  --font-size-small-text: 1rem;
  --line-height-default: 1.8rem; /* Borders */
  --border: 6px solid;
  --border--small: 2px solid;
  --border-primary: 6px solid rgb(var(--color-primary));
  --border-secondary: 6px solid rgb(var(--color-bg));
  --padding-section-default: 3rem 12%;
}

* {
  margin: 0;
  padding: 0;
}

a,
button,
* {
  -webkit-tap-highlight-color: transparent;
  /* -webkit-touch-callout: none; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1.5rem;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  overflow: hidden;
}

#hero {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.slider {
  background: url("img/hero.jpeg") center center/cover;
  flex-basis: 100%;
  flex-shrink: 0;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 4.2rem;
  align-items: center;
  transition: all 1s;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* inset: 0; */
  background: rgb(var(--color-primary) / 0.2);
  z-index: 1;
}

.slider > * {
  z-index: 2;
}

.primary_heading.hero_heading {
  color: rgb(var(--color-primary));
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  text-shadow:
    0 2px 4px rgb(var(--color-accent) / 0.5),
    0 8px 24px rgb(var(--color-accent) / 0.35);
  backdrop-filter: blur(0.5px);
  margin-bottom: 4rem;
}

.hero_text {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  /* padding: 0 30rem 3rem 30rem; */
  padding: 0 30% 6rem 30%;
  color: rgb(var(--color-secondary));
  font-size: var(--font-size-sub-text);
}

.btn {
  text-decoration: none;
  font: inherit;
  background-color: rgb(var(--color-primary) / 0.8);
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgb(var(--color-secondary));
  padding: 1rem 1.5rem;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 5px -3px rgb(var(--color-secondary));
  transition: all 0.2s ease-in-out;
  border: none;
}

.btn.tap {
  transform: translateY(0.3rem);
  background-color: rgb(var(--color-surface) / 0.8);
  color: rgb(var(--color-primary));
  box-shadow: 0.5px 0.5px 5px -3px rgb(var(--color-primary));
}

#navbar {
  display: flex;
  background-color: rgb(var(--color-primary) / 0.1);
  /* backdrop-filter: blur(1px); */
  color: rgb(var(--color-secondary));
  text-shadow: 0 1px 5px -3px rgb(247, 243, 247);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  padding: 1rem 12%;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

#navbar.navbar-scroll {
  background-color: rgb(var(--color-primary) / 0.7);
  color: rgb(var(--color-secondary));
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 5px -3px #333;
}

.menu_hamburger_label {
  cursor: pointer;
  display: none;
  width: 2.4rem;
  align-self: stretch;
  position: relative;
  align-items: center;
  justify-content: center;
}

.menu_hamburger_line {
  width: 100%;
  border-bottom: 2px solid currentColor;
  position: relative;
  transition: all 0.2s ease;
}

.menu_hamburger_line::before {
  content: "";
  position: absolute;
  width: inherit;
  transform: translateY(-0.72rem);
  border-bottom: inherit;
}

.menu_hamburger_line::after {
  content: "";
  position: absolute;
  width: inherit;
  transform: translateY(0.72rem);
  border-bottom: inherit;
}

#navbar li {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.menu_item {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 2rem;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
}

.menu_item.tap {
  transform: scale(1.1);
}

#navbar .menu .menu_item.focused {
  color: rgb(var(--color-primary));
}

#navbar.navbar-scroll .menu .menu_item.focused {
  color: rgb(var(--color-bg));
}

.logo_text {
  font-size: 3.2rem;
  letter-spacing: 0.5rem;
}

.logo {
  cursor: pointer;
}

/* Property Grid */
/*  */
#properties {
  display: flex;
  background: url("img/contour_line_properties.svg") center center/cover;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-section-default);
  /* scroll-margin-top: 1.5rem; */
}

.primary_heading {
  font-weight: 100;
  font-size: 3.5rem;
  color: rgb(var(--color-secondary));
  margin-bottom: 3rem;
}

.property_grid {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  /* margin: 3rem 15rem 5rem 15rem; */
  margin-bottom: 5rem;
}

.listing {
  cursor: pointer;
}
.listing_image {
  box-sizing: border-box;
  border: var(--border-primary);
  height: 28rem;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 2rem;
  transition: all 0.2s ease;
}

.listing:nth-child(1) .listing_image {
  background: url("img/deals1.jpg") center center/cover;
}

.listing:nth-child(2) .listing_image {
  background: url("img/deals2.jpg") center center/cover;
}

.listing:nth-child(3) .listing_image {
  background: url("img/deals3.jpg") center center/cover;
}

.listing.tap .listing_image {
  box-shadow:
    2.6rem 11.5rem rgb(var(--color-primary)),
    2.6rem 3rem rgb(var(--color-primary));
  transform: translate(0.5rem, 0.5rem);
  border: var(--border-secondary);
}

.listing > *:not(.listing_image) {
  transition: all 0.1s ease-in-out;
}

.listing.tap > *:not(.listing_image) {
  transform: translate(4rem, 0.5rem);
  color: rgb(var(--color-bg));
}

.listing.tap .listing_title {
  color: rgb(var(--color-secondary));
}

.listing_title {
  color: rgb(var(--color-primary));
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.listing_location,
.listing_price {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  color: rgb(var(--color-secondary));
}

.listing_icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.listing_currency {
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.listing_price {
  color: rgb(var(--color-secondary));
}

.listing_type {
  display: flex;
  align-items: center;
  color: rgb(var(--color-secondary));
}

/* Agents */
/*  */
#agents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  background-color: rgb(var(--color-bg));
}

.agents_heading {
  margin-bottom: 2rem;
}

.agents_intro {
  color: rgb(var(--color-primary));
  font-size: var(--font-size-sub-text);
  width: 60%;
  text-align: center;
  line-height: 2.2rem;
}

.agents_container {
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.agent {
  display: flex;
  align-items: center;
  color: rgb(var(--color-primary));
}

.agent:nth-child(1) .agent_image {
  background: url("img/mary.jpg") center center/cover;
}

.agent:nth-child(2) .agent_image {
  background: url("img/john.jpg") center center/cover;
}

.agent_image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-right: 2rem;
  overflow: hidden;
  border: var(--border) rgb(var(--color-secondary));
  /* box-shadow: 0 0 0 6px rgb(var(--color-secondary)); */
  transition: all 0.2s ease;
  cursor: pointer;
}

.agent_socials {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-bg) / 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  padding: 0 0.3rem;
}

.agent_socials a {
  padding: 0;
  margin: 0;
}

.agent_social_icons {
  height: 1.3rem;
  width: 1.3rem;
  color: rgb(var(--color-primary));
  display: inline-block;
  transition: transform 0.2s ease;
}

.agent_meta {
}

.agent_name,
.agent_title {
  margin-bottom: 0.8rem;
}

.agent_icon {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.5rem;
  color: rgb(var(--color-secondary));
}

.agent_meta *:has(.agent_icon) {
  display: flex;
  font-size: var(--font-size-normal-text);
  align-items: center;
}

.agent_fulfilment_count {
  color: red;
  margin-right: 0.3rem;
  font-weight: 800;
}

/* How it Works */
/*  */
#hiw {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-section-default);
  background: url("img/contour_line_hiw.svg") center center/cover;
}

.hiw_container {
  display: flex;
  justify-content: space-around;
  /* padding: 0 10rem; */
}

.hiw_entry {
  display: flex;
  flex-direction: column;
  flex-basis: 28%;
}

.hiw_icon_wrapper {
  background-color: rgb(var(--color-bg));
  border: var(--border--small) rgb(var(--color-primary));
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  align-self: center;
}

.hiw_icon {
  color: rgb(var(--color-primary));
  height: 2rem;
  width: 2rem;
}

.hiw_sub_heading {
  margin-bottom: 1rem;
  align-self: center;
}

.hiw_text {
  font-size: var(--font-size-normal-text);
  line-height: var(--line-height-default);
  text-align: center;
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 3rem 15rem; */
  /* padding: 3rem 10%; */
  padding: var(--padding-section-default);
  background-color: rgb(var(--color-bg));
}

.testimonials_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.testimonial_entry {
  display: flex;
  flex-direction: column;
}

.testimonial_entry:nth-child(1)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/kimani.jpg") center center/cover;
}

.testimonial_entry:nth-child(2)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/whitney.jpg") center center/cover;
}

.testimonial_entry:nth-child(3)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/mark.jpg") center center/cover;
}

.testimonial_entry:nth-child(4)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/lucy.jpg") center center/cover;
}

.testimonial_customer_details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonial_customer_details_img {
  margin-right: 0.6rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  border: var(--border--small) rgb(var(--color-secondary));
}

.testimonial_customer_testimony {
  font-size: var(--font-size-normal-text);
  line-height: var(--line-height-default);
}

#news {
  background: url("img/contour_line_news.svg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 3rem 15rem; */
  /* padding: 3rem 10%; */
  padding: var(--padding-section-default);
}

.news_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
}

.news_entry {
  display: flex;
  flex-direction: column;
  flex-basis: 28%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.news_entry.tap {
  transform: translate(0.24rem, 0.24rem);
}

.news_entry:active {
  transform: translate(0.24rem, 1rem);
}

.news_entry.tap .news_entry_image {
  border: var(--border) rgb(var(--color-secondary));
}

.news_entry.tap .news_entry_title {
  color: rgb(var(--color-secondary));
}

.news_entry:nth-child(1) .news_entry_image {
  background: url("img/news1.jpg") center center/cover;
}

.news_entry:nth-child(2) .news_entry_image {
  background: url("img/news2.jpg") center center/cover;
}

.news_entry:nth-child(3) .news_entry_image {
  background: url("img/news3.jpg") center center/cover;
}

.news_entry_image {
  height: 28rem;
  margin-bottom: 1rem;
  border: var(--border-primary);
}

.news_entry_meta {
  display: flex;
  list-style: none;
  margin-top: 1rem;
  padding-right: 2rem;
  justify-content: flex-start;
}

.news_entry_meta > * {
  padding-right: 2rem;
  color: rgb(var(--color-surface));
}

.new_entry_meta_author {
  font-size: 1rem;
  font-weight: 700;
}

.new_entry_meta_date {
  font-size: 0.8rem;
  font-weight: 400;
}

.new_entry_meta_type {
  font-size: 0.8rem;
  font-weight: 400;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 3rem 15rem; */
  /* padding: 3rem 10%; */
  padding: var(--padding-section-default);
  background-color: rgb(var(--color-bg));
}

.contact_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact_form {
  flex-basis: 40%;
}

.contact_form * label {
  margin-bottom: 0.4rem;
  font-size: var(--font-size-normal-text);
  font-weight: 700;
  color: rgb(var(--color-primary));
}

.contact_form * {
  font-family: inherit;
}

.contact_form > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.contact_form * input,
.contact_form * textarea {
  border: none;
  padding: 0.5rem;
  font-size: var(--font-size-small-text);
  color: rgb(var(--color-primary));
}

.contact_form * input:focus,
.contact_form * textarea:focus {
  outline: var(--border--small) rgb(var(--color-secondary));
}

.contact_form * textarea {
  height: 6.8rem;
  margin-bottom: 1rem;
}

.contact_details {
  display: flex;
  flex-direction: column;
  padding-bottom: 6.4rem;
  padding-top: 1.4rem;
  padding-left: 4rem;
  justify-content: space-between;
  color: var(--color-primary);
  flex-basis: 40%;
  box-sizing: border-box;
}

.contact_details > * h2 {
  letter-spacing: 0.2rem;
  margin-bottom: 0.8rem;
}

.contact_details > * p {
  font-size: var(--font-size-sub-text);
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
}

.contact_details_icons {
  width: var(--font-size-sub-text);
  height: var(--font-size-sub-text);
  color: rgb(var(--color-secondary));
  margin-right: 0.5rem;
}

footer {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-secondary));
  grid-row-gap: 2rem;
}

#follow,
#copyright {
  grid-column: 1 / 3;
  justify-items: center;
}

#about {
  padding: 2rem 4rem;
}

#subscribe {
  /* padding: 2rem 1rem 2rem 4rem; */
  padding: 2rem 1rem 2rem 5%;
}

.about_heading,
.subscribe_heading {
  margin-bottom: 1rem;
}

.about_text {
  font-size: var(--font-size-small-text);
  /* padding-right: 8rem; */
  padding-right: 5%;
  line-height: var(--line-height-default);
}

.subscribe_heading {
  margin-bottom: 2rem;
}

.subscribe input {
  color: var(--color-primary);
  font-family: inherit;
  border: none;
  padding: 0.5rem;
  font-size: var(--font-size-normal-text);
  margin-right: 1rem;
  width: 14rem;
}

.subscribe input:focus {
  outline: var(--border--small) rgb(var(--color-secondary));
}

.subscribe .btn {
  color: rgb(var(--color-primary));
  background-color: rgb(var(--color-secondary));
  padding: 0.52rem 1.4rem;
}

.subscribe .btn.tap {
  color: rgb(var(--color-bg));
  background-color: rgb(var(--color-surface));
  transform: translateY(0.2rem);
}

#follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow_heading {
  margin-bottom: 2rem;
}

.footer_social_icons_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_social_icons {
  width: 1.4rem;
  height: 1.4rem;
  transition: all 0.2s ease;
  padding: 0 1.2rem;
}

.footer_social_icons.tap {
  color: rgb(var(--color-bg));
  transform: scale(1.2);
}

#copyright {
  padding: 2rem;
}
/* Typography Styling */

body {
  font-family: "Alegreya Sans";
}

.primary_heading,
.secondary_heading,
.menu_item,
.logo_text {
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    transform: translateY(0.3rem);
    background-color: rgb(var(--color-surface) / 0.8);
    color: rgb(var(--color-primary));
    box-shadow: 0.5px 0.5px 5px -3px rgb(var(--color-primary));
  }

  .menu_hamburger_label:hover .menu_hamburger_line {
    border-bottom: 2px solid rgb(var(--color-secondary));
  }

  .menu_hamburger_label:hover .menu_hamburger_line::before {
    transform: translateY(-0.8rem);
  }

  .menu_hamburger_label:hover .menu_hamburger_line::after {
    transform: translateY(0.8rem);
  }

  .menu_item:hover {
    transform: scale(1.1);
  }

  .listing:hover .listing_image {
    box-shadow:
      2.6rem 11.5rem rgb(var(--color-primary)),
      2.6rem 3rem rgb(var(--color-primary));
    transform: translate(0.5rem, 0.5rem);
    border: var(--border-secondary);
  }

  .listing:hover > *:not(.listing_image) {
    transform: translate(4rem, 0.5rem);
    color: rgb(var(--color-bg));
  }

  .listing:hover .listing_title {
    color: rgb(var(--color-secondary));
  }

  .agent_image:hover {
    transform: scale(1.1);
    border: var(--border-primary);
    /* box-shadow: 0 0 0 6px rgb(var(--color-primary)); */
  }

  .agent_socials:has(.agent_social_icons:hover) {
    background-color: rgb(var(--color-primary) / 0.4);
  }

  .agent_social_icons:hover {
    transform: scale(1.3);
    color: rgb(var(--color-secondary));
  }

  .agent_image:hover .agent_socials {
    opacity: 1;
    visibility: visible;
  }

  .news_entry:hover {
    transform: translate(0.24rem, 0.24rem);
  }

  .news_entry:hover .news_entry_image {
    border: var(--border) rgb(var(--color-secondary));
  }

  .news_entry:hover .news_entry_title {
    color: rgb(var(--color-secondary));
  }

  .subscribe .btn:hover {
    color: rgb(var(--color-bg));
    background-color: rgb(var(--color-surface));
    transform: translateY(0.2rem);
  }

  .footer_social_icons:hover {
    color: rgb(var(--color-bg));
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  #navbar {
    padding: 0.8rem 8%;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --padding-section-default: 3rem 8%;
  }

  .hiw_container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .menu_hamburger_label {
    display: flex;
  }

  .menu {
    display: none;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-around;
    /* width: 50vw; */
    height: 100vh;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgb(var(--color-primary) / 0.8);
    transition: all 0.2s ease;
    padding-bottom: 10vh;
  }

  .menu li {
    flex-grow: 1;
    vertical-align: middle;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu li:not(.menu li:last-child) {
    border-bottom: 1px dotted rgb(var(--color-surface) / 0.2);
  }

  #menu_hamburger:checked ~ .menu {
    display: flex;
  }

  .menu_item {
    font-size: 2.2rem;
  }

  #navbar {
    transition: none;
    overflow: hidden;
  }

  #navbar:has(#menu_hamburger:checked) {
    padding: 0;
  }

  #menu_hamburger:checked ~ .menu_hamburger_label {
    padding: 0.8rem 8%;
  }

  #navbar:has(#menu_hamburger:checked) .logo {
    padding: 0.8rem 8%;
  }
}

@media screen and (max-width: 750px) {
  .property_grid {
    grid-template-columns: 1fr;
    padding: 0 8%;
  }

  .agents_container {
    flex-direction: column;
    align-items: center;
  }

  .agent {
    margin-bottom: 3rem;
  }

  .agent_image {
    width: 10rem;
    height: 10rem;
  }

  .news_container {
    flex-direction: column;
    padding: 0 8%;
  }

  .news_entry {
    margin-bottom: 3rem;
  }

  #subscribe {
    display: flex;
    flex-direction: column;
  }

  .subscribe input {
    width: 100%;
    box-sizing: border-box;
  }

  .subscribe .btn {
    margin-top: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  /* html {
    font-size: 10px;
  } */

  .primary_heading.hero_heading {
    padding: 0 6%;
  }

  .hero_text {
    padding: 0 15% 6rem 15%;
  }

  .testimonials_container {
    grid-template-columns: 1fr;
    padding: 0 8%;
  }

  .testimonial_entry {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .agent_image {
    margin-bottom: 2rem;
    width: 10rem;
    height: 10rem;
  }

  .agent {
    flex-direction: column;
    align-items: center;
  }

  .contact_container {
    flex-direction: column;
    padding: 0 8%;
    box-sizing: border-box;
  }

  .contact_form {
    flex-basis: 100%;
  }

  .contact_details {
    display: none;
    flex-direction: row;
    padding-left: 0;
    font-size: var(--font-size-small-text);
    padding-top: 0;
    padding-bottom: 0;
  }

  .contact_details > * {
    flex-basis: 30%;
    flex-grow: 0;
    /* background-color: red; */
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .contact_details * {
    font-size: inherit;
  }

  footer {
    grid-template-columns: 1fr;
  }

  #about {
    margin-top: 3rem;
    padding: 0 8%;
  }

  #subscribe {
    margin-top: 3rem;
    padding: 0 8%;
    margin-bottom: 3rem;
  }

  #follow,
  #copyright {
    grid-column: 1 / 2;
  }
}
