/* Layout Styling */
* {
  margin: 0;
  padding: 0;
}

.slider {
  background: url("img/hero2.jpg") center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider img {
  display: block;
  width: 100%;
}
.slider p {
  color: #c0bebe;
  padding-bottom: 2rem;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slider * {
  z-index: 2;
}

.slider::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 0, 0, 0.3);
}

.hero_heading {
  color: #dddada;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.btn {
  text-decoration: none;
  font: inherit;
  background-color: purple;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: gold;
  padding: 1rem 2rem;
  border-radius: 200px;
}

#navbar {
  display: flex;
  background-color: transparent;
  color: #dddada;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* position: fixed; */
  /* height: 5rem; */
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0 1px 5px -3px #333;
}

#navbar .menu {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.logo {
  padding: 1rem 3rem;
}

/* .logo img {
  height: 2rem;
} */

.logo_text {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.menu_item {
  padding: 2rem 3rem;
  font-size: 1.3rem;
}

#hero {
  color: grey;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#property_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin: 5rem 15rem;
}

.listing_image {
  height: 60vh;
  overflow: hidden;
}

.listing_image img {
  /* height: 100%; */
  width: 250%;
  /* object-position: center; */
}

#agents {
  display: flex;
  flex-direction: column;
  margin: 5rem 15rem;
}

.agents_container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.agent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agent_image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
}

.agent_socials {
  display: none;
}
.agent_image img {
  width: 100%;
  position: relative;
  top: -3rem;
  object-fit: fill;
}

#hiw {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiw_container {
  display: flex;
  justify-content: space-evenly;
}

.hiw_entry {
  display: flex;
  flex-direction: column;
  flex: 30%;
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 15rem;
}

.testimonials_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 15rem;
}

.news_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.news_entry {
  display: flex;
  flex-direction: column;
  flex: 30%;
}

.news_entry_image {
  height: 60vh;
  width: 22rem;
  overflow: hidden;
}

.news_entry_image img {
  height: 150%;
}

.news_entry_meta {
  display: flex;
  list-style: none;
  padding-top: 3rem;
  padding-right: 5rem;
  justify-content: space-between;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 15rem;
}

.contact_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#follow,
#copyright {
  grid-column: 1 / 3;
  justify-items: center;
}

/* Typography Styling */

body {
  font-family: "Alegreya Sans";
}

.primary_heading,
.tertiary_heading,
.menu_item,
.logo_text {
  font-family:
    "Pathway Gothic One",
    sans serif;
  text-transform: uppercase;
}

.menu_item {
}
