/* @font-face {
  font-family: "CustomHelvetica";
  src: url("./fonts/Helvetica/helvetica_light.otf") format("opentype");
  /* font-weight: normal;
  font-style: normal;
}

.tertiary_heading.listing_location {
  font-family: "CustomHelvetica";
} */

/* Layout Styling */
/* :root {
  --color-primary: #2d0320;
  --color-secondary: #b38d97;
  --color-accent: #d5aca9;
  --color-bg: #f4e8da;
  --color-surface: #b8aea8;
} */
:root {
  --color-old-gold: 184, 155, 94;
  --color-gold-tint: 200, 155, 140;
  --color-deep-cha: 214, 194, 138;
  --color-gold: 198, 161, 91;
  --color-primary: 45 3 32;
  /* --color-secondary: 179 141 151; */
  --color-secondary: 200, 155, 140;
  --color-accent: 213 172 169;
  --color-bg: 244 232 218;
  --color-surface: 184 174 168;
  /* Fonts Sizes */
  --font-size-sub-text: 1.3rem;
  --font-size-normal-text: 1.2rem;
  --font-size-small-text: 1rem;
  --line-height-default: 1.8rem; /* Borders */
  --border: 6px solid;
  --border--small: 2px solid;
  --border-primary: 6px solid rgb(var(--color-primary));
  --border-secondary: 6px solid rgb(var(--color-bg));
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.slider {
  background: url("img/hero.jpeg") center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider img {
  display: block;
  width: 100%;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* inset: 0; */
  background: rgb(var(--color-primary) / 0.2);
  z-index: 1;
}

.slider > * {
  z-index: 2;
}

.primary_heading.hero_heading {
  color: rgb(var(--color-primary));
  font-size: 4rem;
  font-weight: 200;
  padding-bottom: 2.5rem;
  text-shadow:
    0 2px 4px rgb(var(--color-accent) / 0.5),
    0 8px 24px rgb(var(--color-accent) / 0.35);
  backdrop-filter: blur(0.5px);
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.18); */
}

.hero_text {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 0 30rem 3rem 30rem;
  color: rgb(var(--color-secondary));
  font-size: var(--font-size-sub-text);
}

.btn {
  text-decoration: none;
  font: inherit;
  background-color: rgb(var(--color-primary) / 0.8);
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgb(var(--color-secondary));
  padding: 1rem 1.5rem;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 5px -3px rgb(var(--color-secondary));
  transition: all 0.2s ease-in-out;
  border: none;
}

.btn:hover {
  transform: translateY(0.3rem);
  background-color: rgb(var(--color-surface) / 0.8);
  color: rgb(var(--color-primary));
  box-shadow: 0.5px 0.5px 5px -3px rgb(var(--color-primary));
}

#navbar {
  display: flex;
  background-color: rgb(var(--color-primary) / 0.1);
  /* backdrop-filter: blur(1px); */
  color: rgb(var(--color-secondary));
  text-shadow: 0 1px 5px -3px rgb(247, 243, 247);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  /* box-shadow: 0 1px 5px -3px #333; */
  transition: all 0.2s ease-in-out;
  padding: 1rem 2rem 1rem 1rem;
  align-items: center;
  justify-content: space-around;
}

#navbar.navbar-scroll {
  background-color: rgb(var(--color-primary) / 0.7);
  color: rgb(var(--color-secondary));
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 5px -3px #333;
}

#navbar li {
  list-style: none;
  cursor: pointer;
}

#navbar .menu {
  display: flex;
  text-decoration: none;
}

.menu_item {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 4rem;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
}

.menu_item:hover {
  transform: scale(1.1);
}

#navbar .menu .menu_item.focused {
  color: rgb(var(--color-primary));
}

#navbar.navbar-scroll .menu .menu_item.focused {
  color: rgb(var(--color-bg));
}

.logo_text {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Property Grid */
/*  */
#properties {
  display: flex;
  background: url("img/contour_line_properties.svg") center center/cover;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  /* scroll-margin-top: 1.5rem; */
}

.primary_heading {
  font-weight: 100;
  font-size: 3.5rem;
  color: rgb(var(--color-secondary));
}

.property_grid {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin: 3rem 15rem 5rem 15rem;
}
.listing {
  cursor: pointer;
}
.listing_image {
  box-sizing: border-box;
  border: var(--border-primary);
  height: 28rem;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 2rem;
  transition: all 0.2s ease;
}

.listing:nth-child(1) .listing_image {
  background: url("img/deals1.jpg") center center/cover;
}

.listing:nth-child(2) .listing_image {
  background: url("img/deals2.jpg") center center/cover;
}

.listing:nth-child(3) .listing_image {
  background: url("img/deals3.jpg") center center/cover;
}

.listing:hover .listing_image {
  box-shadow:
    2.6rem 11.5rem rgb(var(--color-primary)),
    2.6rem 3rem rgb(var(--color-primary));
  transform: translate(0.5rem, 0.5rem);
  border: var(--border-secondary);
}

.listing > *:not(.listing_image) {
  transition: all 0.1s ease-in-out;
}

.listing:hover > *:not(.listing_image) {
  transform: translate(4rem, 0.5rem);
  color: rgb(var(--color-bg));
}

.listing:hover .listing_title {
  color: rgb(var(--color-secondary));
}

.listing_title {
  color: rgb(var(--color-primary));
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.listing_location,
.listing_price {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  color: rgb(var(--color-secondary));
}

.listing_icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.listing_currency {
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.listing_price {
  color: rgb(var(--color-secondary));
}

.listing_type {
  display: flex;
  align-items: center;
  color: rgb(var(--color-secondary));
}

/* Agents */
/*  */
#agents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  background-color: rgb(var(--color-bg));
}

.agents_heading {
  margin-bottom: 2rem;
}

.agents_intro {
  color: rgb(var(--color-primary));
  font-size: var(--font-size-sub-text);
  width: 60%;
  text-align: center;
  line-height: 2.2rem;
}

.agents_container {
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.agent {
  display: flex;
  align-items: center;
  color: rgb(var(--color-primary));
}

.agent:nth-child(1) .agent_image {
  background: url("img/mary.jpg") center center/cover;
}

.agent:nth-child(2) .agent_image {
  background: url("img/john.jpg") center center/cover;
}

.agent_image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-right: 2rem;
  overflow: hidden;
  border: var(--border) rgb(var(--color-secondary));
  /* box-shadow: 0 0 0 6px rgb(var(--color-secondary)); */
  transition: all 0.2s ease;
  cursor: pointer;
}

.agent_image:hover {
  transform: scale(1.1);
  border: var(--border-primary);
  /* box-shadow: 0 0 0 6px rgb(var(--color-primary)); */
}

.agent_socials {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-bg) / 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  padding: 0 0.3rem;
}

.agent_socials a {
  padding: 0;
  margin: 0;
}

.agent_socials:has(.agent_social_icons:hover) {
  background-color: rgb(var(--color-primary) / 0.4);
}

.agent_image:hover .agent_socials {
  opacity: 1;
  visibility: visible;
}

.agent_social_icons {
  height: 1.3rem;
  width: 1.3rem;
  color: rgb(var(--color-primary));
  display: inline-block;
  transition: transform 0.2s ease;
}

.agent_social_icons:hover {
  transform: scale(1.3);
  color: rgb(var(--color-secondary));
}

.agent_meta {
}

.agent_name,
.agent_title {
  margin-bottom: 0.8rem;
}

.agent_icon {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.5rem;
  color: rgb(var(--color-secondary));
}

.agent_meta *:has(.agent_icon) {
  display: flex;
  font-size: var(--font-size-normal-text);
  align-items: center;
}

.agent_fulfilment_count {
  color: red;
  margin-right: 0.3rem;
  font-weight: 800;
}

/* How it Works */
/*  */
#hiw {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  background: url("img/contour_line_hiw.svg") center center/cover;
}

.hiw_container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0 10rem;
}

.hiw_entry {
  display: flex;
  flex-direction: column;
  flex-basis: 28%;
}

.hiw_icon_wrapper {
  background-color: rgb(var(--color-bg));
  border: var(--border--small) rgb(var(--color-primary));
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  align-self: center;
}

.hiw_icon {
  color: rgb(var(--color-primary));
  height: 2rem;
  width: 2rem;
}

.hiw_sub_heading {
  margin-bottom: 1rem;
  align-self: center;
}

.hiw_text {
  font-size: var(--font-size-normal-text);
  line-height: var(--line-height-default);
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 15rem;
  background-color: rgb(var(--color-bg));
}

.testimonials_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.testimonial_entry {
  display: flex;
  flex-direction: column;
}

.testimonial_entry:nth-child(1)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/kimani.jpg") center center/cover;
}

.testimonial_entry:nth-child(2)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/whitney.jpg") center center/cover;
}

.testimonial_entry:nth-child(3)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/mark.jpg") center center/cover;
}

.testimonial_entry:nth-child(4)
  .testimonial_customer_details
  .testimonial_customer_details_img {
  background: url("img/lucy.jpg") center center/cover;
}

.testimonial_customer_details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonial_customer_details_img {
  margin-right: 0.6rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  border: var(--border--small) rgb(var(--color-secondary));
}

.testimonial_customer_testimony {
  font-size: var(--font-size-normal-text);
  line-height: var(--line-height-default);
}

#news {
  background: url("img/contour_line_news.svg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 15rem;
}

.news_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.news_entry {
  display: flex;
  flex-direction: column;
  flex-basis: 28%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.news_entry:hover {
  transform: translate(0.24rem, 0.24rem);
}

.news_entry:active {
  transform: translate(0.24rem, 1rem);
}

.news_entry:hover {
  transform: translate(0.24rem, 0.24rem);
}

.news_entry:hover .news_entry_image {
  border: var(--border) rgb(var(--color-secondary));
}

.news_entry:hover .news_entry_title {
  color: rgb(var(--color-secondary));
}

.news_entry:nth-child(1) .news_entry_image {
  background: url("img/news1.jpg") center center/cover;
}

.news_entry:nth-child(2) .news_entry_image {
  background: url("img/news2.jpg") center center/cover;
}

.news_entry:nth-child(3) .news_entry_image {
  background: url("img/news3.jpg") center center/cover;
}

.news_entry_image {
  height: 28rem;
  margin-bottom: 1rem;
  border: var(--border-primary);
}

.news_entry_meta {
  display: flex;
  list-style: none;
  margin-top: 1rem;
  padding-right: 2rem;
  justify-content: flex-start;
}

.news_entry_meta > * {
  padding-right: 2rem;
  color: rgb(var(--color-surface));
}

.new_entry_meta_author {
  font-size: 1rem;
  font-weight: 700;
}

.new_entry_meta_date {
  font-size: 0.8rem;
  font-weight: 400;
}

.new_entry_meta_type {
  font-size: 0.8rem;
  font-weight: 400;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 15rem;
  background-color: rgb(var(--color-bg));
}

.contact_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2rem;
}

.contact_form,
.contact_details {
  flex-basis: 35%;
}

.contact_form * label {
  margin-bottom: 0.4rem;
  font-size: var(--font-size-normal-text);
  font-weight: 700;
  color: rgb(var(--color-primary));
}

.contact_form * {
  font-family: inherit;
}

.contact_form > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.contact_form * input,
.contact_form * textarea {
  border: none;
  padding: 0.5rem;
  font-size: var(--font-size-small-text);
  color: rgb(var(--color-primary));
}

.contact_form * input:focus,
.contact_form * textarea:focus {
  outline: var(--border--small) rgb(var(--color-secondary));
}

.contact_form * textarea {
  height: 6rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-secondary));
}

#follow,
#copyright {
  grid-column: 1 / 3;
  justify-items: center;
}

/* Typography Styling */

body {
  font-family: "Alegreya Sans";
}

.primary_heading,
.secondary_heading,
.menu_item,
.logo_text {
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
}
